*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.background{
  width: 100%;
  height: 100vh;
  background-image:url(coolnature.jpg);
  background-size: cover;
  background-position: center;
}
.navabar{
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  width: 60px;
  cursor: pointer;
}
.navabar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.navabar ul li a{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
.navabar ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navabar ul li:hover::after{
  width: 100%;

}
.content{
  width:100%;
  position: absolute;
  top: 35%;
  transform: translateY(-50px);
  text-align: center;
  color: white;

}
.content h1{
  font-size: 60px;
  font-family: 'Nabla', cursive;
}
.content p{
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
  font-family: 'Righteous', cursive;

}
.content p span{
  color: yellow;
  font-size: 25px;
}
button{
  width: 200px;
  padding: 15px 10px;
  text-align: center;
  margin: 20px 20px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color: #fff;
  cursor: pointer;
  
span{
  background: #009688;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
